extends layout
block content
    nav.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse",  data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Admin Template
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href="/") Home
            li: a(href="/teacher") Teacher
            li: a(href="/student") Student
            li: a(href="/registration") Registration
            li: a(href="/timetable") Timetable
    #header
      .container
        .row
          .col-md-10
            h1
              span.glyphicon.glyphicon-cog
              |  Dashboard
              small  Manage Site
    section#breadcrumb
      .container
        ol.breadcrumb
          li: a(href="/") Dashboard    
    section#main
      .container
        .row
          .col-md-3
            .list-group
              a.list-group-item.active.main-color-bg(href="/")
                span.glyphicon.glyphicon-cog
                |  Dashboard
              a.list-group-item(href="/teacher")
                span.glyphicon.glyphicon-education
                |  Teacher
              a.list-group-item(href="/student")
                span.glyphicon.glyphicon-user
                |  Student
              a.list-group-item(href="/registration")
                span.glyphicon.glyphicon-check
                |  Registration
              a.list-group-item(href="/timetable")
                span.glyphicon.glyphicon-list-alt
                |  Timetable
          .col-md-9
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Recently Added Teacher
              .panel-body
                #teacherListLasted
                  table.table.table-striped.table-hover
                    thead 
                      th Teacher ID
                      th Teacher Name
                      th Email
                      th Major
                      tbody
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Recently Added Student
              .panel-body
                #studentListLasted
                  table.table.table-striped.table-hover
                    thead 
                      th Student ID
                      th Student Name
                      th Email
                      tbody