doctype html

html
    head
        title= title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/theme3.css')
    body
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/caleandar.js')
        script(src='/javascripts/global.js')
        
