extends layout
block content
    nav.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse",  data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Admin Template
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/") Home
            li: a(href="/teacher") Teacher
            li: a(href="/student") Student
            li.active: a(href="/registration") Registration
            li: a(href="/timetable") Timetable
    #header
      .container
        .row
          .col-md-10
            h1
              span.glyphicon.glyphicon-check
              |  Registration
              small  Manage Registration
    section#breadcrumb
      .container
        ol.breadcrumb
          li: a(href="/") Dashboard
          li: a(href="/registration") Registration   
    section#main
      .container
        .row
          .col-md-3
            .list-group
              a.list-group-item.active.main-color-bg(href="/")
                span.glyphicon.glyphicon-cog
                |  Dashboard
              a.list-group-item(href="/teacher")
                span.glyphicon.glyphicon-education
                |  Teacher
              a.list-group-item(href="/student")
                span.glyphicon.glyphicon-user
                |  Student
              a.list-group-item(href="/registration")
                span.glyphicon.glyphicon-check
                |  Registration
              a.list-group-item(href="/timetable")
                span.glyphicon.glyphicon-list-alt
                |  Timetable
          .col-md-9
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Class List
              .panel-body
                #registrationList
                  table.table.table-responsive.table-hover
                    thead
                      tr
                        th Class ID
                        th Class Name
                        th Teacher Name
                        th Action
                    tbody
                #addClass
                  fieldset
                    .form-group
                      label Class ID
                      input#inputClassID.form-control(type='text', placeholder='Class ID')
                    .form-group
                      label Class Name
                      input#inputClassName.form-control(type='text', placeholder='Class Name')
                    .form-group
                      label Teacher Name
                      input#inputTeacher.form-control(type='text', placeholder='Teacher Name')
                    .form-group
                      label Class Begin Date
                      input#inputDate.form-control(type='date')
                button#btnAddClass.btn.btn-success(type ="button") Add Class
    .modal.fade#showDetailModal( tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          form
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title#myModalLabel List student in class
            .modal-body
              #classList
                table.table.table-responsive.table-hover
                    thead
                      tr
                        th Student ID
                        th Student Name
                        th Action
                    tbody
              #addStudentToClass
                fieldset
                  .form-group
                    label Student ID
                    input#inputStudentIDToClass.form-control(type='text', placeholder='Student ID')
                  .form-group
                    label Student Name
                    input#inputStudentFullNameToClass.form-control(type='text', placeholder='Student Name')
              button#btnAddStudentToClass.btn.btn-info(type ="button") Add Student
            .modal-footer
              button.btn.btn-default(type ="button", data-dismiss="modal") Close