extends layout
block content
    nav.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse",  data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Admin Template
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/") Home
            li: a(href="/teacher") Teacher
            li.active: a(href="/student") Student
            li: a(href="/registration") Registration
            li: a(href="/timetable") Timetable
    #header
      .container
        .row
          .col-md-10
            h1
              span.glyphicon.glyphicon-user
              |  Student
              small  Manage Students
    section#breadcrumb
      .container
        ol.breadcrumb
          li: a(href="/") Dashboard
          li: a(href="/student") Students     
    section#main
      .container
        .row
          .col-md-3
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Student Info
              .panel-body
                p
                  strong Name:
                  |  <span id='studentInfoName'></span>
                  br
                  strong Age:
                  |  <span id='studentInfoAge'></span>
                  br
                  strong Gender:
                  |  <span id='studentInfoGender'></span>
                  br
                  strong Location:
                  |  <span id='studentInfoLocation'></span>
            button#btnShowAddModal.btn.btn-success(type="button", data-toggle="modal", data-target="#addStudentModal") Create Student
            button#btnShowUpdateModal.btn.btn-info(type="button", data-toggle="modal", data-target="#updateStudentModal") Update Student
          .col-md-9
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Students
              .panel-body
                #studentList
                  table.table.table-striped.table-hover
                    thead 
                      th Student ID
                      th Student Name
                      th Email
                      th Action
                      tbody
    .modal.fade#addStudentModal( tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          form
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title#myModalLabel Create new student
            .modal-body
              #addStudent
                fieldset
                  .form-group
                    label ID
                    input#inputStudentID.form-control(type='text', placeholder='Student ID')
                  .form-group
                    label Name
                    input#inputStudentFullName.form-control(type='text', placeholder='Student Name')
                  .form-group
                    label Age
                    input#inputStudentAge.form-control(type='text', placeholder='Student Age')
                  .form-group
                    label Location
                    input#inputStudentAddress.form-control(type='text', placeholder='Student Location')
                  .form-group
                    label Gender
                    input#inputStudentGender.form-control(type='text', placeholder='Student Gender')
                  .form-group
                    label Email
                    input#inputStudentEmail.form-control(type='text', placeholder='Student Email')
            .modal-footer
              button.btn.btn-default(type ="button", data-dismiss="modal") Close
              button#btnAddStudent.btn.btn-info(type ="button") Create

    .modal.fade#updateStudentModal( tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          form
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title#myModalLabel Update student
            .modal-body
              #updateStudent
                fieldset
                  .form-group
                    label ID
                    input#inputUpdateStudentID.form-control(type='text', placeholder='Student ID')
                  .form-group
                    label Name
                    input#inputUpdateStudentFullName.form-control(type='text', placeholder='Student Name')
                  .form-group
                    label Age
                    input#inputUpdateStudentAge.form-control(type='text', placeholder='Student Age')
                  .form-group
                    label Location
                    input#inputUpdateStudentAddress.form-control(type='text', placeholder='Student Location')
                  .form-group
                    label Gender
                    input#inputUpdateStudentGender.form-control(type='text', placeholder='Student Gender')
                  .form-group
                    label Email
                    input#inputUpdateStudentEmail.form-control(type='text', placeholder='Student Email')
            .modal-footer
              button.btn.btn-default(type ="button", data-dismiss="modal") Close
              button#btnUpdateStudent.btn.btn-info(type ="button", data-dismiss="modal") Save Changes