extends layout
block content
    nav.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse",  data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Admin Template
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/") Home
            li.active: a(href="/teacher") Teacher
            li: a(href="/student") Student
            li: a(href="/registration") Registration
            li: a(href="/timetable") Timetable
    #header
      .container
        .row
          .col-md-10
            h1 
              span.glyphicon.glyphicon-education
              |  Teacher
              small  Manage Teachers
    section#breadcrumb
      .container
        ol.breadcrumb
          li: a(href="/") Dashboard
          li: a(href="/teacher") Teachers     
    section#main
      .container
        .row
          .col-md-3
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Teacher Info
              .panel-body
                p
                  strong Name:
                  |  <span id='teacherInfoName'></span>
                  br
                  strong Age:
                  |  <span id='teacherInfoAge'></span>
                  br
                  strong Gender:
                  |  <span id='teacherInfoGender'></span>
                  br
                  strong Location:
                  |  <span id='teacherInfoLocation'></span>
                  br
                  strong Major:
                  |  <span id='teacherInfoMajor'></span>
            button#btnShowAddModal.btn.btn-success(type="button", data-toggle="modal", data-target="#addTeacherModal") Create Teacher
            button#btnShowUpdateModal.btn.btn-info(type="button", data-toggle="modal", data-target="#updateTeacherModal") Update Teacher
          .col-md-9
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Teachers
              .panel-body
                #teacherList
                  table.table.table-striped.table-hover
                    thead 
                      th Teacher ID
                      th Teacher Name
                      th Email
                      th Major
                      th Action
                      tbody
    .modal.fade#addTeacherModal( tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          form
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title#myModalLabel Create new teacher
            .modal-body
              #addTeacher
                fieldset
                  .form-group
                    label ID
                    input#inputTeacherID.form-control(type='text', placeholder='Teacher ID')
                  .form-group
                    label Name
                    input#inputTeacherFullName.form-control(type='text', placeholder='Teacher Name')
                  .form-group
                    label Age
                    input#inputTeacherAge.form-control(type='text', placeholder='Teacher Age')
                  .form-group
                    label Location
                    input#inputTeacherAddress.form-control(type='text', placeholder='Teacher Location')
                  .form-group
                    label Gender
                    input#inputTeacherGender.form-control(type='text', placeholder='Teacher Gender')
                  .form-group
                    label Email
                    input#inputTeacherEmail.form-control(type='text', placeholder='Teacher Email')
                  .form-group
                    label Major
                    input#inputTeacherMajor.form-control(type='text', placeholder='Teacher Major')
            .modal-footer
              button.btn.btn-default(type ="button", data-dismiss="modal") Close
              button#btnAddTeacher.btn.btn-info(type ="button") Create

    .modal.fade#updateTeacherModal( tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
      .modal-dialog(role="document")
        .modal-content
          form
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title#myModalLabel Update teacher
            .modal-body
              #updateTeacher
                fieldset
                  .form-group
                    label ID
                    input#inputUpdateTeacherID.form-control(type='text', placeholder='Teacher ID')
                  .form-group
                    label Name
                    input#inputUpdateTeacherFullName.form-control(type='text', placeholder='Teacher Name')
                  .form-group
                    label Age
                    input#inputUpdateTeacherAge.form-control(type='text', placeholder='Teacher Age')
                  .form-group
                    label Location
                    input#inputUpdateTeacherAddress.form-control(type='text', placeholder='Teacher Location')
                  .form-group
                    label Gender
                    input#inputUpdateTeacherGender.form-control(type='text', placeholder='Teacher Gender')
                  .form-group
                    label Email
                    input#inputUpdateTeacherEmail.form-control(type='text', placeholder='Teacher Email')
                  .form-group
                    label Major
                    input#inputUpdateTeacherMajor.form-control(type='text', placeholder='Teacher Major')
            .modal-footer
              button.btn.btn-default(type ="button", data-dismiss="modal") Close
              button#btnUpdateTeacher.btn.btn-info(type ="button", data-dismiss="modal") Save Changes