extends layout
block content
    nav.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse",  data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Admin Template
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/") Home
            li: a(href="/teacher") Teacher
            li: a(href="/student") Student
            li: a(href="/registration") Registration
            li.active: a(href="/timetable") Timetable
    #header
      .container
        .row
          .col-md-10
            h1
              span.glyphicon.glyphicon-list-alt
              |  Timetable
    section#breadcrumb
      .container
        ol.breadcrumb
          li: a(href="/") Dashboard
          li: a(href="/timetable") Timetable
    section#main
      .container
        .row
          .col-md-8
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Timetable
              .panel-body
                #caleandar
          .col-md-4
            .panel.panel-default
              .panel-heading.main-color-bg
                h3.panel-title Class Details
              .panel-body
                p
                  strong Class ID:
                  |  <span id='classInfoID'></span>
                  br
                  strong Class Name:
                  |  <span id='classInfoName'></span>
                  br
                  strong Teacher:
                  |  <span id='classInfoTeacher'></span>
                  br
                  strong Class Begin Date:
                  |  <span id='classInfoDate'></span>